<!DOCTYPE html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>About Page</p>
            <img src="/images/robot.png" class="portrait" />
        </div>
        {{>footer}}
    </body>
</html>